<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor
          patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
          type="M1CP.Foundation.Logging.Exception.CustomItemNotFoundResolver, M1CP.Foundation.Logging">
          <ErrorPageId>{B15136EC-C4BB-44A1-81D3-18D567646660}</ErrorPageId>
          <site>M1CPWebSite</site>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <log4net>
      <appender name="M1CPCommerceLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Publishing.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <appender name="M1CPLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/M1SSPLogFile.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>

      <root>
        <priority value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </root>

      <logger name="Sitecore.Diagnostics.M1CPLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="M1CPLogFileAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.M1CPCommerceLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="M1CPCommerceLogFileAppender" />
      </logger>

      <appender name="404Appender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/404.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>

      <logger name="CustomErrors._404Logger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="404Appender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>