<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="M1CP.Feature.Forms.Pipeline.RegisterWebApiRoutes, M1CP.Feature.Forms" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>