<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <connectionStrings>
        <!--<add name="M1CPAsrContext" connectionString="data source=LSG0100294;initial catalog=ASRTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
        <add name="M1CPAsrContext" connectionString="Persist Security Info=False;User ID=sa;Password=Welcome123;Initial Catalog=AdventureWorks;Server=MySqlServer"/>
      </connectionStrings>
    </settings>

     <!--<dataExampleManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="DataExample.ExampleProviderSqlServer, M1CPAsrContext"/>
        </providers>
      </dataExampleManager>-->
  </sitecore>
 
  
</configuration>