<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <sessionEnd>
        <processor type="M1CP.Foundation.Services.ThrottleHelper.SessionEndProcessor, M1CP.Foundation.Services" />
      </sessionEnd>
      <postSessionEnd>
        <processor type="M1CP.Foundation.Services.ThrottleHelper.SessionEndProcessor, M1CP.Foundation.Services" />
      </postSessionEnd>
      <httpRequestBegin>
        <!--<processor
          patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
          type="M1CP.Foundation.Services.ThrottleHelper.ThrottleProcessor, M1CP.Foundation.Services">
        </processor>-->
        </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="M1CP.Foundation.Services.ThrottleHelper.ThrottleProcessor, M1CP.Foundation.Services" />
      </httpRequestProcessed>
      <visitEnd>
        <processor type="M1CP.Foundation.Services.ThrottleHelper.SessionEndProcessor, M1CP.Foundation.Services"/>
        <!--<processor type="Sitecore.Analytics.Pipelines.VisitEnd.RunAutomation,Sitecore.Analytics.Automation"/>-->
      </visitEnd>
    </pipelines>
    <services>
      <register serviceType="M1CP.Foundation.Services.ThrottleHelper.IThrottleProvider, M1CP.Foundation.Services" implementationType="M1CP.Foundation.Services.ThrottleHelper.ThrottleProvider, M1CP.Foundation.Services" />
      
    </services>
    </sitecore>
  
</configuration>