<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
        @*<button type="button" class="@Model.UIElements.Class" id="@Model.UIElements.Id" name="@Model.UIElements.Name">@Html.Raw(Model.Title)</button>*@
    </div>
</div>


