<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="M1CP.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, M1CP.Foundation.DependencyInjection"/>
        </services>
    </sitecore>
</configuration>