<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="M1CP.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, M1CP.Foundation.LocalDatasource" method="OnItemAdded" />
      </event>
      <event name="item:copied">
        <handler type="M1CP.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, M1CP.Foundation.LocalDatasource" method="OnItemCopied" />
      </event>
    </events>

    <pipelines>
      <getRenderingDatasource>
        <processor type="M1CP.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceLocation, M1CP.Foundation.LocalDatasource" patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']" />
      </getRenderingDatasource>
      <indexing.getDependencies>
        <processor type="M1CP.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceDependencies, M1CP.Foundation.LocalDatasource" />
      </indexing.getDependencies>
    </pipelines>
    <settings>
      <setting name="Foundation.LocalDatasource.LocalDatasourceFolderName" value="_Local" />
      <setting name="Foundation.LocalDatasource.LocalDatasourceFolderTemplate" value="{9669259C-6AB5-4626-B5B6-BA063C47C576}" />
    </settings>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="local_datasource_content" storageType="NO" indexType="TOKENIZED">M1CP.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceContentField, M1CP.Foundation.LocalDatasource</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="localdatasource" type="M1CP.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceQueryPredicateProvider, M1CP.Foundation.LocalDatasource" patch:before="add[@name='fallback']" />
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>