@using M1CP.Feature.Content
@using System.Collections.Specialized
@using M1CP.Foundation.Base
@using Glass.Mapper
@using Glass.Mapper.Sc.Fields
@using Glass.Mapper.Sc.Web.Mvc
@using M1CP.Foundation.SitecoreExtensions.Extensions

@model M1CP.Feature.Content.Models.IContent
    
<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 text-component theme-light component-heading">
 <div>@Html.Glass().Editable(Model, i => i.Title)</div>
<div>@Html.Glass().Editable(Model,i=>i.Description)</div>
</div>