<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
              <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
               type="M1CP.Foundation.Multisite.Pipelines.TestProcessor, M1CP.Foundation.Multisite">
                <sites hint="list">
                  <site>M1CPWebSite</site>
                </sites>
              </processor>
            </httpRequestBegin>
        </pipelines>
        
    </sitecore>
</configuration>