<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"
          type="M1CP.Foundation.Base.Infrastructure.Pipelines.BeginRequest.SetCallContextProcessor,M1CP.Foundation.Base"/>
      </httpRequestBegin>
      <M1.CP.CallContext>
        <processor name="" type="M1CP.Foundation.Base.Infrastructure.Pipelines.SetCallContetxt.IdentifyRequestProcessor,M1CP.Foundation.Base"/>
        <processor name="" type="M1CP.Foundation.Base.Infrastructure.Pipelines.SetCallContetxt.IdentifySiteContextProcessor,M1CP.Foundation.Base"/>
        <processor name="" type="M1CP.Foundation.Base.Infrastructure.Pipelines.SetCallContetxt.IdentifyUserContextProcessor,M1CP.Foundation.Base"/>
        <processor name="" type="M1CP.Foundation.Base.Infrastructure.Pipelines.SetCallContetxt.IdentifyShoppingContextProcessor,M1CP.Foundation.Base"/>
      </M1.CP.CallContext>
    </pipelines>
  </sitecore>
</configuration>
