<!DOCTYPE html>
<html lang="en" ng-app="m1app">
<head>
    <title>M1-Mobile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../scripts/slick-1.8.0/slick/slick.css">
    <link rel="stylesheet" href="../../scripts/slick-1.8.0/slick/slick-theme.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/carousel.css">
    <link rel="stylesheet" href="../../css/animations.css" />        
</head>
<body>


    <div class="container-fluid">

        <!--Carousel with device details starting-->
        <!--Limitations:- This component only for 12 column and all image sizes should be same height-->
        <div class="row">
            <div class="component-heading theme-dark1">
                <h1 class="font-heading1">Hey! Check these</h1>

                <h3 class="font-heading3">&nbsp;PROMOTIONS OUT!</h3>

            </div>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xs-12 padding-zero">
                <!--Always MaxItem=3 and minItem=1 for this component -->
                <div class="slider carousel-deviceDetails" carousel-component maxItem="3" minItem="1" speed="900" slidesToScroll="1" autoplay="false" infinite="false" autoplaySpeed="600" dots="true">
                    <div class="thumbnail theme-light">
                        <a href="" target="_blank" tabindex="-1">
                            <div class="newImageOuter">
                                <img ng-if="true" class="media-object newImageProperties icon-bar img-responsive" src="../../images/Devices-New-icon-1x.png ">


                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                                

                            </div>
                            <div class="caption-deviceDetails">
                                <div class="details">
                                    <h3 class="productName">HUAWE</h3>
                                    <h2 class="productdisc">Mate 10 Pro</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="thumbnail theme-light">

                        <a href="" target="_blank">
                            <div class="newImageOuter">
                                <img ng-if="false" class="media-object newImageProperties img-responsive" src="../../images/Devices-New-icon-1x.png">
                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                               
                            </div>
                            <div class="caption-deviceDetails">

                                <div class="details">
                                    <h3 class="productName">APPLE</h3>
                                    <h2 class="productdisc">iPhone 8 64GB</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>

                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>
                              
                            </div>
                        </a>

                    </div>
                    <div class="thumbnail theme-light">

                        <a href="" target="_blank">
                            <div class="newImageOuter">
                                <img ng-if="true" class="media-object newImageProperties img-responsive" src="../../images/Devices-New-icon-1x.png">
                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                              
                            </div>
                            <div class="caption-deviceDetails">
                                <div class="details">
                                    <h3 class="productName">SAMSUNG</h3>
                                    <h2 class="productdisc">Galaxy Note8</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>                               
                            </div>
                        </a>

                    </div>
                    <div class="thumbnail theme-light">

                        <a href="" target="_blank">
                            <div class="newImageOuter">
                                <img ng-if="true" class="media-object newImageProperties img-responsive" src="../../images/Devices-New-icon-1x.png">
                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                             
                            </div>
                            <div class="caption-deviceDetails">
                                <div class="details">
                                    <h3 class="productName">HUAWE</h3>
                                    <h2 class="productdisc">Mate 10 Pro</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="thumbnail theme-light">

                        <a href="" target="_blank">
                            <div class="newImageOuter">
                                <img ng-if="false" class="media-object newImageProperties img-responsive" src="../../images/Devices-New-icon-1x.png">
                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                            </div>
                            <div class="caption-deviceDetails">
                                <div class="details">
                                    <h3 class="productName">APPLE</h3>
                                    <h2 class="productdisc">iPhone 8 64GB</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="thumbnail theme-light">

                        <a href="" target="_blank">
                            <div class="newImageOuter">
                                <img ng-if="true" class="media-object newImageProperties img-responsive" src="../../images/Devices-New-icon-1x.png">
                                <img src="../../images/Devices-ImageB-1x.png" alt="Lights" class="Carousel-deviceDetailsImage arrow-position">
                               
                            </div>
                            <div class="caption-deviceDetails">
                                <div class="details">
                                    <h3 class="productName">SAMSUNG</h3>
                                    <h2 class="productdisc">Galaxy Note8</h2>
                                    <div class="priceDetails">
                                        <div class="margintop11">
                                            <span class="price">$398</span>
                                        </div>
                                        <div class="horizontal-devider"></div>
                                        <div class="text-left">
                                            <p>$70/Month</p>
                                            <p>on mySIM<sup>e</sup> 70</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <div class="select-color " style="background: #0a2d7c"></div>
                                    <div class="select-color " style="background: #000000"></div>
                                    <div class="select-color " style="background: #E6BE8A"></div>
                                    <div class="select-color " style="background: #A9A9A9"></div>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>

        <!--Carousel with device details code ends-->
    </div>




    <script src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.js"></script>
    <script src="../../scripts/jquery-3.3.1.min.js"></script>
    <script src="../../scripts/slick-1.8.0/slick/slick.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="../../scripts/app_v0.js"></script>

</body>
</html>
