@using M1CP.Foundation.Base.Helpers

  <div class="row">
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowOne)
    </div>
    <div class="col-sm-3">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowTwo)
    </div>
    <div class="col-sm-6">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnWideOne)
    </div>
  </div>
