@using M1CP.Foundation.Base.Helpers
<div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnWideOne)
    </div>
    <div class="col-lg-3 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowOne)
    </div>
    <div class="col-lg-3 col-sm-6">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowTwo)
    </div>
  </div>
</div>