@using M1CP.Foundation.Base.Helpers
<div>
  <div class="row">
    <div class="col-sm-4">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowOne)
    </div>
    <div class="col-sm-4">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowTwo)
    </div>
    <div class="col-sm-4">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowThree)
    </div>
  </div>
</div>