@using M1CP.Foundation.Base.Helpers

  <div class="row">
    <div class="col-md-8">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnWideOne)
    </div>
    <div class="col-md-4">
      @Html.Sitecore().DynamicPlaceholder(M1CP.Project.Common.Contants.ColumnNarrowOne)
    </div>
  </div>
