<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="M1CP.Foundation.AssetsIncludes.Pipelines.GetPageRendering.ClearAssets, M1CP.Foundation.AssetsIncludes"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="M1CP.Foundation.AssetsIncludes.Pipelines.GetPageRendering.AddAssets, M1CP.Foundation.AssetsIncludes">
                    <siteAssets hint="raw:AddAsset" />
                </processor>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="M1CP.Foundation.AssetsIncludes.Pipelines.GetPageRendering.AddPageAssets, M1CP.Foundation.AssetsIncludes"/>
                <!--<processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="M1CP.Foundation.AssetsIncludes.Pipelines.GetPageRendering.AddRenderingAssets, M1CP.Foundation.AssetsIncludes"/>-->
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>