<!DOCTYPE html>
<html lang="en" ng-app="m1cp">
<head>
    <title>M1-Mobile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../scripts/slick-1.8.0/slick/slick.css">
		<link rel="stylesheet" href="../../scripts/slick-1.8.0/slick/slick-theme.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/tab.css">
		<link rel="stylesheet" href="../../css/checkbox.css">
		<link rel="stylesheet" href="../../css/country_list.css">
</head>
<body>

    <div ng-controller="overseasController" name="myForm" class="col-md-6 col-md-offset-3 container overseas">
		<div class="row">
				
					<div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12">
		
				<!--heading component-->
							<div class="component-heading theme-dark1 overseas">
								<p class="font-heading1">Where are you going</p>
								<p class="font-heading3">&nbsp;NEXT?</p>
								<p class="font-body2 overseas-text">We get it.You Want to stay in touch and stay connected.<span> Well ,with our roaming,it's like never left <span></p>

							</div>
			
					</div>
				<!-- End of heading component-->	
				<!--Start of list -->	

					<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center list-country  theme-light ">
									<div class="col-md-4	 col-lg-4 col-sm-12 col-xs-12 drop  text-theme-orange">
										<select  class="country font-body2" ng-change="changeFilterOption(attribute)" ng-model="attribute">
											  <option value="">Select Country</option> 
											  <option value="ThailLand:www.m1proffextional.com"> RPA</option>
											  <option value="ThailLand1:www.m1.com"> RPA</option>
											  <option value="ThailLand1:www.m1proff.com"> RPA</option>
										</select>
									</div>
									<div class=" col-md-2 col-lg-2 col-sm-12 col-xs-12  text-theme-black" style="padding:0px">
											<a  href="{{ url }}" target="_blank" role="button" class="btn btn-default btn-block animated-button button-animated redirect-btn" ng-click="redirect()">Here I come</a>
								
									</div>

					</div>
				<!--End of list-->
		</div>
    </div>
   


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="../../scripts/slick-1.8.0/slick/slick.min.js"></script>
    <script src="../../scripts/jquery.lazy-master/jquery.lazy.min.js"></script>
    <script src="../../scripts/jquery.lazy-master/jquery.lazy.plugins.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.js"></script>

    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/app.common.js"></script>
    <script src="../../scripts/app.config.js"></script>

    <script src="../../scripts/core/app.core.js"></script>
    <script src="../../scripts/core/app.core.directive.js"></script>
    <script src="../../scripts/core/app.core.filter.js"></script>
    <script src="../../scripts/core/app.core.service.js"></script>
    <script src="../../scripts/core/app.core.controller.js"></script>

    <script src="../../scripts/portal/app.portal.js"></script>
    <script src="../../scripts/portal/forms/app.portal.forms.js"></script>
    <script src="../../scripts/portal/forms/app.portal.forms.controller.js"></script>
    <script src="../../scripts/portal/forms/app.portal.forms.directive.js"></script>
    <script src="../../scripts/portal/forms/app.portal.forms.service.js"></script>
    <script src="../../scripts/portal/forms/app.portal.forms.filter.js"></script>


    <script src="../../scripts/portal/microsites/app.portal.microsites.js"></script>
    <script src="../../scripts/portal/microsites/app.portal.microsites.controller.js"></script>
    <script src="../../scripts/portal/microsites/app.portal.microsites.directive.js"></script>
    <script src="../../scripts/portal/microsites/app.portal.microsites.service.js"></script>
    <script src="../../scripts/portal/microsites/app.portal.microsites.filter.js"></script>

    <script src="../../scripts/portal/microsites/app.portal.microsites.contactus.js"></script>
	<script src="../../scripts/portal/microsites/app.portal.microsites.goingoverseas.js"></script>

</body>
</html>