@model string
<div class="nodatasource">
    @string.Format("Datasource not Available or Empty for : {0}", Model)
</div>
<style>
    .nodatasource {
        padding: 40px;
        width: 100%;
        background-color: darkgray;
        color: #fff;
    }
</style>